:root {
  --primary-color: #921A19;
  --secondary-color: #1A343A;
  --softWhite-color: #F8F8F8;
  --softGray-color: #E6E6E6;
  --hardGray-color: #58585A;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
